.card {
    position: relative;
    display: flex;
}

.card-small {
    max-width: 60rem;
    margin: 0 auto;
}

.card--main, .card--alt {
    padding: 2rem;
}

.card--main {
    order: 1;
    background-color: var(--color-default);
    border-radius: var(--border-radius);
    width: 40%;
    box-shadow: var(--shadow-large);
    z-index: 1; // ensure box-shadow gets on top of .card--alt:after
    margin: 0 -1rem;
}

.card--alt {
    --margin: 2rem;
    order: 0;
    width: calc(55% + 1rem); // add 1rem for shake animation
    margin: var(--margin) 0;
    color: var(--color-default);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    // padding-right: 6rem;
    padding-right: 10%;

    &, &:after {  
        background-color: rgba(var(--rgb-alt), 0.9);
        margin: var(--margin) 0;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: calc(5% + 1rem); // add 1rem for shake animation
        height: calc(100% - 2 * var(--margin));
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}

@media (max-width: $bp-small) {

    .card {
        flex-direction: column;
    }

    .card--main, .card--alt {
        width: 100%;
        max-width: 20rem;
    }

    .card--main {
        margin: 0;
        order: 0;
    }

    .card--alt {
        order: 1;
    }

    .card--alt:after {
        display: none
    }

}

// Fix Internet Explorer

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .card--main {
        background-color: white;
    }
    
    .card--alt {
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
    }

}