input, textarea {
    all: unset;
}

label {
    // it's a nuisance when clicking the label to check a checkbox
    // or focus on an input field, so we disable it altogether
    user-select: none; 
}

.field {
    --height: 2rem;
    --border-width: 3px;

    position: relative;
    margin-top: 1rem;
    height: var(--height);
    margin-top: var(--height);
}

.field label, .field input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.field input {
    font-size: 1.1rem;
    font-weight: 500;
    // border-bottom: var(--border-width) solid var(--color-primary);
}

.field:after, .field:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--border-width);
    background-color: var(--color-primary);

    transform-origin: center left;
    transition: transform .3s;
}

.field:after {
    transform: scaleX(0);
    background-color: var(--color-error);
}

.field.invalid:after {
    transform: scaleX(1);
    z-index: 2;
}

.field:not(.empty).valid:after {
    background-color: var(--color-error);
}

.field-text label {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    transform-origin: center left;
    transition: .2s;
    transition-property: opacity, transform;
    pointer-events: none; // usually bad UX, but because labels are on top of input fields this is a must
}

.field-text input:focus + label, 
.field-text:not(.empty) input + label {
    transform: translateY(-70%) scale(0.7);
    opacity: 1;
    pointer-events: all;
}

// Need to split these because if we don't, the above
// won't work on Firefox

.field-text input:-webkit-autofill + label {
    transform: translateY(-70%) scale(0.7);
    opacity: 1;
    pointer-events: all;
}

.field + button {
    margin-top: var(--margin-default);
}

form .btn-primary:last-child {
    margin-top: var(--margin-xl);
}

// Exceptions

.field-checkbox {
    --height: auto;
    display: flex;
    margin-top: 1rem;

    &:after, &:before {
        display: none;
    }

    label {
        position: static;
        font-size: 0.8rem;
        margin-top: -1px;
    }

    input[type="checkbox"] {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.5rem;
        border: 2px solid var(--color-primary);
        outline: 2px solid transparent;
        transition: background .3s, border .3s, outline .3s;

        &:checked, &:focus {
            border-color: var(--color-primary--light);
        }

        &:checked {
            background-color: var(--color-primary);
        }

        &:focus {
            outline-color: var(--color-primary--light);
        }
    }

    &.invalid input[type="checkbox"] {
        border-color: var(--color-error);

        &:checked {
            border-color: var(--color-primary--light);
        }
    }
}