@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-primary: #B1A04F;
    --color-secondary: #4EA3A3;
    --color-default: #F1F2F4;
    --color-alt: #222222;

    --rgb-alt: 34, 34, 34; 

    --font-primary: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
    
    --margin-default: 1rem;
    --margin-large: 1.5rem;

    --border-radius: 3px;
}

/*

56CBF9
00538D
2AC5C9
C1900E
DBD8F0

015680
B1A04F
4EA3A3
94DDE6

*/