@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-primary: #B1A04F;
    --color-primary--light: #d8cfa7;
    --color-secondary: #4EA3A3;
    --color-default: #F1F2F4;
    --color-alt: #222222;

    --color-error: #ff4d4d;
    --color-error--light: #fed2d2; // lighten 75%
    --color-success: #3ae374;
    --color-success--light: #cdf8dc; // lighten 75%

    --rgb-alt: 34, 34, 34; 

    --gradient-primary: linear-gradient(45deg, 
        var(--color-primary) 0%, 
        var(--color-default) 40%, 
        var(--color-default) 60%, 
        var(--color-secondary) 100%);
    --gradient-primary--loop: linear-gradient(45deg, 
        var(--color-secondary) 0%, 
        var(--color-default) 20%, 
        var(--color-default) 30%, 
        var(--color-primary) 50%,
        var(--color-default) 70%, 
        var(--color-default) 80%, 
        var(--color-secondary) 100%);

    --font-primary: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
    
    --margin-default: 1rem;
    --margin-large: 1.5rem;
    --margin-xl: 2rem;

    // Shadows from https://codepen.io/sdthornton/pen/wBZdXq

    --shadow-small: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-medium: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-large: 0 1rem 2rem rgba(0,0,0,0.19), 0 0.5rem 0.5rem rgba(0,0,0,0.23);

    --border-radius: 3px;
}

// Responsive break points
// NOTE: media queries aren't an element, so you can't use CSS variables

$bp-small: 50rem;

/*

56CBF9
00538D
2AC5C9
C1900E
DBD8F0

015680
B1A04F
4EA3A3
94DDE6

*/